body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 48px;
    background-color: #1F2937;

}

.headerlogo{
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    padding: 12px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 18px;
    gap: 48px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 108px;

}

h1 {
    font-size: 48px;
    font-weight: 1200;
    color: #F9FAF8;
    margin-bottom: 0px;
    
}

.heroimg {
    margin: 0px;
    background-color: rgb(121, 129, 153);
    width: 400px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    flex-shrink: 0;
}

.herobutton {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: #F9FAF8;
    width: 100px;
    font-size: 14px;
    font-weight: 800;
}

h2 {
    font-size: 36px;
    font-weight: 1200;
    color: #1F2937;
    text-align: center;
    padding: 36px;
}
.info{
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 150px;

}
.infogrid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.infoimg {
    border-width: 5px;
    border-radius: 12px;
    border-style: solid;
    border-color: #3882F6;
    height: 200px;
    width: 200px;
}

.infotext {
    text-align: center;
    padding-top: 18px;
}

.quote {
    background-color: #E5E7EB;
    padding-top: 128px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 128px;
    
}

.quotetext {
    font-size: 36px;
    font-weight: thin;
    font-style: italic;
}

.quotecredit {
    font-size: 24px;
    text-align: end;
    font-weight: 900;
}